@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reporting</h1>
    <p class="lead">INF 354 Prac 2 Reporting with MVC</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Generate a report</h2>
        <p>
            Click the following button to be redirected to the report page on which a detailed report regarding LG products can be genrated and viewed.
        </p>
        <p>@Html.ActionLink("Go", "Report", "Home", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>

    
</div>